.intro {
    background: linear-gradient(0deg, rgba(26, 33, 54, 0.70) 0%, rgba(26, 33, 54, 0.70) 100%), url("/images/carousel-3.jpg"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.introTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.introSlogan {
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .introTitle {
        font-size: 30px;
        line-height: 38px;
    }

    .introSlogan {
        font-size: 24px;
        line-height: 29px;
    }
}