.portfolio {
    font-family: 'Inter', sans-serif;
    padding: 95px 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.portfolioTitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.portfolioText {
    font-size: 22px;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .portfolioTitle {
        text-align: center;
    }

    .portfolioText {
        text-align: center;
    }

}