.signUpWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signUpFormWrapper {
    margin-top: 160px;
    width: 600px;
    padding: 45px;
    display: flex;
    flex-direction: column;
}

.signUpFormHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signUpFormTitle {
    font-size: 30px;
    font-weight: 700;
}

.signUpFormLink {
    text-decoration: underline;
    cursor: pointer;
}

/*.googleAuth {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    color: rgba(51, 51, 51, 1);*/
/*    padding: 15px 15px;*/
/*    border-radius: 32px;*/
/*    border: 1px solid #333;*/
/*    font-size: 20px;*/
/*    background-color: #fff;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/

/*.googleAuthImg {*/
/*    width: 24px;*/
/*    margin-right: 10px;*/
/*}*/