.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.userSettings {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}